.camel-container {
	width: 100%;
	height: 100%;
}
.camel-right-padding-0 {
	padding-right: 0px !important;
}
.camel-burger {
	width: 1rem;
	height: 1rem;
}
.camel-header {
	width: 90%;
	margin: auto;
	padding: 10px;
}
.camel-note {
	background-color: #ae3433;
	padding: 20px;
}

.camel-body {
	background-color: #45372d;
	height: 100vh;
	padding: 0px;
}

.camel-buttons {
	padding: 20px;
}

.camel-btn {
	background-color: #ae3433;
	border-color: #ae3433;
}

.span-hr-line {
	height: 1.5px;
	border-radius: 1px;
}
.center-thick {
	height: 5px !important;
	margin-bottom: 2px;
}
.span-hr-last {
	margin-top: 4px;
}

.is-margin-top-10-m {
	margin-top: -10px;
}
.burger {
	display: block;
}
